<h1>Editing formulary</h1>

<%= render "form", formulary: @formulary %>

<br>

<div>
  <%= link_to "Show this formulary", @formulary %> |
  <%= link_to "Back to formularies", formularies_path %>
</div>
